html {
  color: rgb(240, 241, 241);
  background: rgb(114, 125, 156);

  font-size: 14px;
  line-height: 1.8;
}

*{
  margin:0;
  padding:0;
 
  
}

img{
  max-width: 100%;
  height:580px;
}


a{
  color:rgba(218, 216, 216, 0.705);
  
}

li{
  list-style-position: inside;
}


.mb_s{
  margin-bottom: 10px;
  
}

.mb_m{
  margin-bottom: 20px;
}

.mb_l{
  margin-bottom: 40px;
}